html, body, body *{
  box-sizing: border-box;
  font-family: 'Open sans' sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  /*border: 2px solid orange;*/

}

body{
  background-image: url("./image.jpg");
  background-size:cover;
  background-position: center center;
}

.container{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.login-register-wrapper{
  height:560px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  /*overflow: hidden;*/
  color: #ffffff;
  background: linear-gradient(180deg, rgba(60,60,179,1) 20%, rgba(31,219,221,0.4458158263305322) 48%);
  
}

.Nav-buttons{
  width:100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
  text-align: center;
}

button{
  font-size: 1.5em;
  margin-right: 1em;
  border: 0;
  cursor: pointer;
}

.button:focus{
  outline: 0px;
}

button.active{
  padding-bottom: 10px;
  border-bottom: solid 5px #1059ff;
 
}

.forgot-panel{
position: relative;
height: 100px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding-top: 24px;
border-top:  24px rgba(255,255,255,0.3);
color: gray;
margin-top: -260px;
}

.form-group input{
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border:none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.2);
}

.form-group label{
  text-transform: uppercase;
}

input.submit{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: rgba(255,255,255,1);
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgba(16, 89, 255, 1);

}

#registerform{
  left: 500px;
  top: -230px;
  position: relative;
}

form, .forgot-panel{
  position: relative;
  transition: all .5s ease;
}

#loginBtn, #registerBtn{
  transition:all .5s ease;
}
